header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;

}

#logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: top center;
    height: 70px;
    width: 150px;
    margin-left: 20px;
}
